{% extends 'layout.html' %}
{% block body %}
<div class="wrapper text-bg-light">
	<div class="container-fluid animated fadeInRight" style="background-color: #fff;">
{% if account.super and untrusted %}
		<div class="bd-example d-flex justify-content-center" style="margin-bottom: 10px; background-color: rgb(255,255,233)">
			<h4><a href='/servers/' style="text-decoration: none">There {{  untrusted > 1 ? 'are' : 'is' }} {{ untrusted }} untrusted Server{{  untrusted > 1 ? 's' : '' }}</a></h4>
		</div>
{% endif %}
		<div class="bd-example d-flex flex-row justify-content-center" style="margin-bottom: 10px">
			<div class="bd-example" style="width: 210px; height: 140px; margin-right: 50px; background-color: #fbfbfb;">
				<center><h1>Hosts</h1><h3>{{ counts.hosts }}</h3></center>
			</div>
			<div class="bd-example" style="width: 210px; height: 140px; margin-right: 50px; background-color: #fbfbfb;">
				<center><h1>Facts</h1><h3>{{ counts.facts }}</h3></center>
			</div>
			<div class="bd-example" style="width: 210px; height: 140px; background-color: #fbfbfb;">
				<center><h1>Changes</h1><h3>{{ counts.changes }}</h3></center>
			</div>
		</div>
		<div class="bd-example mh-50">
	   		 <canvas id="changes" height="300"></canvas>
		</div>
	</div>
</div>




{% endblock %}
{% block javascript %}

	const data = [
{% for c in changes %}
		{ day: '{{ c.d }}', count: {{ c.count }} },
{% endfor %}
	];

	new Chart(
		document.getElementById('changes'),
		{
			type: 'bar',
			data: {
				labels: data.map(row => row.day),
				datasets: [
				{
					label: 'Changes per day',
					data: data.map(row => row.count),
					backgroundColor: 'rgba(2, 68, 98, 0.5)',
					borderColor: 'rgba(2, 68, 98)',
                         borderWidth: 1
				}
				]
			},
			options: {
				maintainAspectRatio: false,
				responsive: true,
				plugins: {
					legend: {
						labels: {
							font: {
								size: 18
							}
						}
					}
				}
			}
		}
	);

{% endblock %}