{% extends 'layout.html' %}

{% block body %}
<div class="wrapper  text-bg-light">
	<div class="container-fluid animated fadeInRight" style="background-color: #fff;">
		<div class="border p-4">
			<div class="border p-2">
				<div class="row filters">
					<label for="hosts" class="col-sm-1 col-form-label text-end">Hosts</label>
					<div class="col">
						<select class="form-select form-select-sm chosen-select" name=hosts id=hosts>
							<option></option>
		{% for i,h in hosts %}
							<option id="{{ i }}"{% if host == i %} selected{% endif %}>{{ h }}</option>
		{% endfor %}
						</select>
					</div>
					<label for="facts" class="col-sm-1 col-form-label text-end">Fact</label>
					<div class="col">
						<select class="form-select form-select-sm chosen-select" name=facts id=facts>
							<option></option>
		{% for f in ufacts %}
							<option{% if fact == f %} selected{% endif %}>{{ f }}</option>
		{% endfor %}
						</select>
					</div>
					<label for="type" class="col-sm-1 col-form-label text-end">Type</label>
					<div class="col">
						<select class="form-select form-select-sm chosen-select" name=type id=type>
							<option></option>
		{% for t in types %}
							<option{% if type == t %} selected{% endif %}>{{ t }}</option>
		{% endfor %}
						</select>
					</div>
					<div class="col">
						<a href=/facts/?clear=1><button type="button" class="btn btn-primary btn-s">Clear</button></a>
					</div>
				</div>
			</div>
			<br><br>
			<div class="table-responsive">
				<table class="table table-striped datatable-changes w-100">
					<thead>
						<tr>
							<th>Host</th>
							<th>Fact</th>
							<th>Value</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
{% for r in facts %}
						<tr>
							<td width=200 nowrap>{{ hosts[r['host']] }}</td>
							<td nowrap>{{ r['fact'] }}</td>
							<td>{{ r['data'] }}</td>
							<td>{{ r['type'] }}</td>
						</tr>
{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



{% endblock %}
{% block javascriptinc %}
{% endblock %}
{% block javascript %}

	$(".chosen-select").chosen({ allow_single_deselect:true, search_contains: true });

	function change_host_filter () {
		var host = $("#hosts").find(":selected").attr("id");
		if (host == undefined) {
			host = "";
		}
		window.location = "/facts/?host=" + host;
	}

	function change_fact_filter () {
		var fact = $("#facts").find(":selected").val();
		if (fact == undefined) {
			fact = "";
		}
		window.location = "/facts/?fact=" + fact;
	}

	function change_type_filter () {
		var type = $("#type").find(":selected").val();
		if (type == undefined) {
			type = "";
		}
		window.location = "/facts/?type=" + type;
	}

	$("#hosts").change(change_host_filter);
	$("#facts").change(change_fact_filter);
	$("#type").change(change_type_filter);

	$('.datatable-changes').DataTable({
		order: [[1, 'asc']],
		pageLength: 25,
		responsive: true,
		buttons: []
	});
{% endblock %}