{% extends 'layout.html' %}

{% block body %}
<div class="wrapper text-bg-light">
{% if msg %}<font color=green><center>{{ msg }}</center></font><br>{% endif %}
{% if error %}<font color=red><center>{{ error }}</center></font><br>{% endif %}
	<div class="container-fluid animated fadeInRight" style="background-color: #fff;">
		<div class="border table-responsive p-4">
			<table class="table table-striped datatable-hosts w-100">
				<thead>
					<tr>
						<th>Name</th>
						<th>IP Address</th>
						<th>OS</th>
						<th>Changes</th>
						<th>Facts</th>
						<th>Packages</th>
						<th>Package Changes</th>
						<th>Last Seen</th>
					</tr>
				</thead>
				<tbody>
{% for u in hosts %}
					<tr>
						<td nowrap>{{ u.hostname }}</td>
						<td nowrap>{{ u.facts['ansible_default_ipv4.address'].data }}</td>
						<td nowrap>{{ u.facts['ansible_distribution'].data }} {{ u.facts['ansible_distribution_version'].data }}</td>
						<td nowrap>{{ u.changes }}</td>
						<td nowrap>{{ u.cfacts }}</td>
						<td nowrap>{{ u.packages }}</td>
						<td nowrap>{{ u.packages_log }}</td>
						<td nowrap>{{ u.facts['ansible_date_time.date'].data }}</td>
					</tr>
{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
{% block javascriptinc %}
{% endblock %}
{% block javascript %}
	$('.datatable-hosts').DataTable({
		order: [[1, 'asc']],
		pageLength: 25,
		responsive: true,
		buttons: []
	});
{% endblock %}