{% extends 'layout.html' %}
{% block body %}
		<div class="wrapper wrapper-content">
			<div class="row">
				<div class="col">
					<div class="row bd-example">
						<div class="col-sm-2 text-nowrap">
							<label class="col-form-label text-end">Report Name</label>
						</div>

						<div class="form-group col">
							<form method="post" action=/reports/ id=nameform class="form-horizontal">
								<input type=hidden name=action value=savename>
								<input type=hidden name=report value={{ report.id }}>
								<input type="text" class="form-control form-control-sm" name=name id=name value='{{ report.name }}'>
						</div>

						<div class="col-sm-2">
								<input type="submit" class="btn btn-primary btn-s" value=Save>
							</form>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="row bd-example">
						<div class="col-sm-2 text-nowrap">
							<label class="col-form-label text-end">Sort Field</label>
						</div>
						<div class="col">
							<form method="post" action=/reports/ id=sortform class="form-horizontal">
								<input type=hidden name=action value=savesort>
								<input type=hidden name=report value={{ report.id }}>
								<select class="form-control  chosen-select" name=sortc id=sortc>
{% set c = 0 %}
{% for d,k in columns %}
									<option value={{ c }} {% if report.sortc == c %}selected{% endif %}>{{ d }}</option>
{% set c = c + 1 %}
{% endfor %}
								</select>
						</div>
						<div class="col-sm-2">
							<select class="form-control form-control-sm" name=sortd id=sortd>
								<option value='asc' {% if report.sortd == 'asc' %}selected{% endif %}>ASC</option>
								<option value='desc' {% if report.sortd == 'desc' %}selected{% endif %}>DESC</option>
							</select>
						</div>
						<div class="col">
							<input type="submit" class="btn btn-primary btn-s" value=Save>
							</form>
						</div>
					</div>
				</div>
			</div>
<br>
			<div class="row">
				<div class="col">
					<div class="row bd-example">
						<div class="col">
							<h3>Columns</h3>
							<div class="table-responsive">
								<table class="table table-striped datatable-columns">
									<thead>
										<tr>
											<th>Fact</th>
											<th>Display</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
{% set c = 0 %}
{% for d,f in columns %}
										<tr>
{% if f is iterable %}
											<td>
{% for v in f %}
											{{ v }}<br>
{% endfor %}
										</td>
{% else %}
											<td>{{ f }}</td>
{% endif %}
											<td>{{ d }}</td>
											<td>
{% if c > 0 %}
												<a href="{{ server }}?action=moveup&report={{ report.id }}&fact={{ c }}" class='btn btn-primary btn-xs' type='button' name=moveup id=moveup><i class="fa fa-chevron-up"></i></a>
{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
{% if c < (columns | length) - 1 %}
												<a href="{{ server }}?action=movedown&report={{ report.id }}&fact={{ c }}" class='btn btn-primary btn-xs' type='button' name=movedown id=movedown><i class="fa fa-chevron-down"></i></a>
{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
												<a href="{{ server }}?action=deletefact&report={{ report.id }}&fact={{ c }}" class='btn btn-primary btn-xs' type='button' name=deletefact id=deletefact><i class="fa fa-trash"></i></a>
{% set c = c + 1 %}

											</td>
										</tr>
{% endfor %}
									</tbody>
								</table>
								<br>
								<button class="btn btn-primary btn-s" type="button" name=columnmb id=columnmb data-bs-toggle="modal" data-bs-target="#columnmodal">Add Column</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="row bd-example">
						<div class="col">
							<h3>Filters</h3>
							<div class="table-responsive">
								<table class="table table-striped datatable-columns">
									<thead>
										<tr>
											<th>Fact</th>
											<th>Compare</th>
											<th>Value</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
{% set c = 0 %}
{% for f in filters %}
										<tr>
											<td>{{ f.fact }}</td>
											<td>{{ compares[f.compare] }}</td>
											<td>{{ f.value }}</td>
											<td>
												<a href="{{ server }}?action=deletefilter&report={{ report.id }}&filter={{ c }}" class='btn btn-primary btn-xs' type='button' name=deletefact id=deletefact><i class="fa fa-trash"></i></a>
											</td>
										</tr>
{% set c = c + 1 %}
{% endfor %}
									</tbody>
								</table>
							</div>
							<br><button class="btn btn-primary btn-s" type="button" name=filtermb id=filtermb data-bs-toggle="modal" data-bs-target="#filtermodal">Add Filter</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>



    <div class="modal fade" id="columnmodal" tabindex="-1" aria-labelledby="columnmlabel" aria-hidden="true">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
                    <h5 class="modal-title" id="columnmlabel">Add Column</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
	            <div class="modal-body">
					<form method="post" action=/reports/ id=addfilterform class="form-horizontal">
					<input type=hidden name=action value=addcolumn>
					<input type=hidden name=report value={{ report.id }}>

					<div class="form-group"><label class="col-sm-3 control-label">Display Name</label>
				    	<div class="col-sm-8"><input type="text" class="form-control" name=display id=display>
						</div>
					</div>
					<div class="form-group"><label class="col-sm-3 control-label">Facts</label>
					    <div class="col-sm-8">
							<select multiple class="form-control chosen-select" name=facts[] id=facts size=20 style="width:100%; overflow-x:auto;">
								{% for f in facts %}
					        	<option>{{ f }}</option>
								{% endfor %}
				      		</select>
						</div>
					</div>
        		</div>
        		<div class="modal-footer">
                    <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                    </form>
	            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filtermodal" tabindex="-1" aria-labelledby="filtermlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filtermlabel">Add Filter</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
			<form method="post" action=/reports/ id=addfilterform class="form-horizontal">
			<input type=hidden name=action value=addfilter>
			<input type=hidden name=report value={{ report.id }}>

			<div class="form-group"><label class="col-sm-3 control-label">Fact</label>
			    <div class="col-sm-8">
					<select class="form-control chosen-select" name=fact id=facts>
{% for f in facts %}
			        	<option>{{ f }}</option>
{% endfor %}
			        </select>
			    </div>
			</div>

			<div class="form-group"><label class="col-sm-3 control-label">Compare</label>
			    <div class="col-sm-8">
				<select class="form-control" name=compare id=compare>
			        <option value="eq">Equals</option>
			        <option value="ne">Not Equals</option>
			        <option value="gt">Greater Than</option>
			        <option value="lt">Less Than</option>
			        <option value="contains">Contains</option>
			        <option value="starts">Starts With</option>
			        <option value="ends">Ends With</option>
			        </select>
			    </div>
			</div>

			<div class="form-group"><label class="col-sm-3 control-label">Value</label>
			    <div class="col-sm-8"><input type="text" class="form-control" name=value id=value></div>
			</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascriptinc %}
{% endblock %}
{% block javascript %}
$(".chosen-select").chosen({ search_contains: true });
{% endblock %}