{% extends 'layout.html' %}

{% block body %}
<div class="wrapper text-bg-light">
	<div class="container-fluid animated fadeInRight" style="background-color: #fff;">
		<div class="border p-4">
			<div class="border p-2">
				<div class="row filters">
					<div class="col">
						<label for="hosts" class="col-sm-1 col-form-label text-end pe-3">Hosts</label>
						<div>
							<select class="form-select form-select-sm chosen-select" name=hosts id=hosts data-placeholder="Choose a host...">
								<option></option>
		{% for i,h in hosts %}
								<option id="{{ i }}"{% if host == i %} selected{% endif %}>{{ h }}</option>
		{% endfor %}
							</select>
						</div>
					</div>
					<div class="col">
						<label for="facts" class="col-sm-1 col-form-label text-end pe-3">Service</label>
						<div>
							<select class="form-select form-select-sm chosen-select" name=service id=service data-placeholder="Choose a service...">
								<option></option>
		{% for f in uservices %}
								<option{% if service == f %} selected{% endif %}>{{ f }}</option>
		{% endfor %}
							</select>
						</div>
					</div>
					<div class="col">
						<label for="type" class="col-sm-1 col-form-label text-end pe-3">State</label>
						<div>
							<select class="form-select form-select-sm chosen-select" name=state id=state data-placeholder="Choose a state...">
								<option></option>
		{% for t in states %}
								<option{% if state == t %} selected{% endif %} value="{{ t }}">{{ t | title }}</option>
		{% endfor %}
							</select>
						</div>
					</div>
					<div class="col">
						<label for="type" class="col-sm-1 col-form-label text-end pe-3">Status</label>
						<div>
							<select class="form-select form-select-sm chosen-select" name=status id=status data-placeholder="Choose a status...">
								<option></option>
		{% for t in statuses %}
								<option{% if status == t %} selected{% endif %} value="{{ t }}">{{ t | title }}</option>
		{% endfor %}
							</select>
						</div>
					</div>

					<div class="col col-1 mt-auto">
						<a href=/services/?clear=1><button type="button" class="btn btn-primary btn-xs">Clear</button></a>
					</div>
				</div>
			</div>
			<br><br>
			<div class="table-responsive">
				<table class="table table-striped datatable-services w-100">
					<thead>
						<tr>
							<th>Host</th>
							<th>Name</th>
							<th>State</th>
							<th>Status</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
{% for r in services %}
						<tr>
							<td nowrap>{{ hosts[r['host']] }}</td>
							<td nowrap>{{ r['name'] }}</td>
							<td nowrap>{{ r['state'] | title }}</td>
							<td nowrap>{{ r['status'] | title }}</td>
							<td nowrap>{{ r['source'] | title }}</td>
						</tr>
{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



{% endblock %}
{% block javascriptinc %}
{% endblock %}
{% block javascript %}

	$(".chosen-select").chosen({ allow_single_deselect:true, sestate_contains: true, width: '100%' });

	function change_host_filter () {
		var host = $("#hosts").find(":selected").attr("id");
		if (host == undefined) {
			host = "";
		}
		window.location = "/services/?host=" + host;
	}

	function change_service_filter () {
		var service = $("#service").find(":selected").val();
		if (service == undefined) {
			service = "";
		}
		window.location = "/services/?service=" + service;
	}

	function change_state_filter () {
		var state = $("#state").find(":selected").val();
		if (state == undefined) {
			state = "";
		}
		window.location = "/services/?state=" + state;
	}

	function change_status_filter () {
		var status = $("#status").find(":selected").val();
		if (status == undefined) {
			status = "";
		}
		window.location = "/services/?status=" + status;
	}

	$("#hosts").change(change_host_filter);
	$("#service").change(change_service_filter);
	$("#state").change(change_state_filter);
	$("#status").change(change_status_filter);

	$('.datatable-services').DataTable({
		order: [[1, 'asc']],
		pageLength: 25,
		responsive: true,
		buttons: []
	});
{% endblock %}