{% extends 'layout.html' %}

{% block body %}
<div class="wrapper">
	<div class="container-fluid animated fadeInRight" style="width: 50%">
		<form method="post" action=/settings/save/ id=settingform class="form-horizontal">

			<nav class="settings col-sm-9">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active" id="nav-data-tab" data-bs-toggle="tab" data-bs-target="#nav-data" type="button" role="tab" aria-controls="nav-data" aria-selected="true">Data</button>
					<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-email" type="button" role="tab" aria-controls="nav-email" aria-selected="false">Email</button>
					<button class="nav-link" id="nav-database-tab" data-bs-toggle="tab" data-bs-target="#nav-database" type="button" role="tab" aria-controls="nav-database" aria-selected="false">Database</button>
				</div>
			</nav>

			<div class="col-sm-9">
				<div class="tab-content bd-example" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab" tabindex="0">

						<div class="mb-3">
							<label class="form-label">Remove Invocation from Changes</label>
							<div class="form-check form-switch">
								<input type="checkbox" class="form-check-input" name=remove_invocation id=remove_invocation {% if settings.remove_invocation %}checked{% endif %}>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label">Hosts Retention (Days)</label>
							<div>
								<select class="form-control" name=hosts_retention id=hosts_retention>
									{% for i in range(30, 360, 30) %}
									<option{% if settings.hosts_retention == i %} selected{% endif %}>{{ i }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label">Facts Retention (Days)</label>
							<div>
								<select class="form-control" name=facts_retention id=facts_retention>
									{% for i in range(30, 360, 30) %}
									<option{% if settings.facts_retention == i %} selected{% endif %}>{{ i }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label">Changes Retention (Days)</label>
							<div>
								<select class="form-control" name=changes_retention id=changes_retention>
									{% for i in range(30, 360, 30) %}
									<option{% if settings.changes_retention == i %} selected{% endif %}>{{ i }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="nav-email" role="tabpanel" aria-labelledby="nav-email-tab" tabindex="0">
						<div class="mb-3">
							<label class="form-label">Disable Email</label>
							<div class="form-check form-switch">
								<input type="checkbox" class="form-check-input" name=disable_email id=disable_email {% if settings.disable_email %}checked{% endif %}>
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">Ledger Base URL</label>
							<div>
								<input type="text" class="form-control" name=base_url id=base_url value='{{ settings.base_url }}'>
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">Email From Name</label>
							<div>
								<input type="text" class="form-control" name=email_fromname id=email_fromname value='{{ settings.email_fromname }}'>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label">Email From Address</label>
							<div>
								<input type="text" class="form-control" name=email_from id=email_from value='{{ settings.email_from }}'>
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">SMTP Server</label>
							<div>
								<input type="text" class="form-control" name=smtp_server id=smtp_server value='{{ settings.smtp_server }}'>
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">SMTP Port</label>
							<div>
								<input type="text" class="form-control" name=smtp_port id=smtp_port value='{{ settings.smtp_port }}'>
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">SMTP Security</label>
							<div>
								<select class="form-control" name=smtp_security id=smtp_security>
									<option value="">None</option>
									<option value=tls {% if settings.smtp_security == "tls" %} selected{% endif %}>TLS</option>
								</select>
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">SMTP Username</label>
							<div>
								<input type="text" class="form-control" name=smtp_username id=smtp_username value='{{ settings.smtp_username }}'>
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">SMTP Password</label>
							<div>
								<input type="password" class="form-control" name=smtp_password id=smtp_password>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="nav-database" role="tabpanel" aria-labelledby="nav-database-tab" tabindex="0">
						<div class="mb-3">
							<label class="form-label">DB Version</label>
							<div>
								<input type="text" class="form-control" name=db_version id=db_version value='{{ settings.db_version }}' disabled>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br><div class="hr-line-dashed"></div>
			<div class="mb-3">
				<div class="col-sm-offset-2">
					<button class="btn btn-primary" type="submit" name=save id=save>Save</button>
				</div>
			</div>


		</form>
	</div>
</div>

{% endblock %}
