{% extends 'layout.html' %}
{% block body %}
<div class="wrapper">
	<div class="container-fluid animated fadeInRight">
		<div class="shadow-sm border row justify-content-center p-4">
			<div class="shadow border col col-lg-5 p-5 me-5" style="background-color: #fbfbfb;">
				<a class="fs-5 fw-bold text-decoration-none" href="/settings/general/">General</a><br><br>Set settings for data retention and allowed modules.
			</div>
			<div class="shadow border col col-lg-5 p-5 me-5" style="background-color: #fbfbfb;">
				<a class="fs-5 fw-bold text-decoration-none" href="/settings/mail/">Mail</a><br><br>Setup email related settings
			</div>
		</div>
	</div>
</div>
{% endblock %}